


      <div class="container-fluid">
        <div class="row dash-tab">
          <div class="col-sm-4">
            <div class="form-group">
              <button class="shortcut-btn d-block w-100" data-toggle="modal" data-target="#addWaiter"><b>+ Add
                  Service Type</b></button>
            </div>
          </div>
          <div class="offset-md-9 col-sm-12 col-md-3 cus-srch">
            <div class="form-group">
              SEARCH BY SERVICE 
             <input type="text" class="form-control pl-0" id="birthday" placeholder="Search By Service" [(ngModel)]="serv" name="serv">
           </div>
          </div> 
  
  
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table details_table">
                <thead>
                  <tr>
                    <th scope="col">Service Name<a href='javascript:void(0)' (click)="changeOrder('name')"
                        class="caret-sort"><i class="fa" [class.fa-caret-down]="!sortOrder"
                          [class.fa-caret-up]="sortOrder"></i></a></th>
                          <th scope="col">Service Type Name<a href='javascript:void(0)' (click)="changeOrder('service_type_name')"
                            class="caret-sort"><i class="fa" [class.fa-caret-down]="!sortOrder"
                              [class.fa-caret-up]="sortOrder"></i></a></th>
                              <th scope="col">Mostly Used<a href='javascript:void(0)' (click)="changeOrder('mostly_used')"
                                class="caret-sort"><i class="fa" [class.fa-caret-down]="!sortOrder"
                                  [class.fa-caret-up]="sortOrder"></i></a></th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf='ServiceList?.length; else elseBlock'>
                  <tr *ngFor="let item of ServiceList | filter: 'name': serv; let i=index;">
                    <td><B>{{item.name | titlecase}}</B></td>
                    <td><B>{{item.service_type_name | titlecase}}</B></td>
                    <td><B>{{item.mostly_used | titlecase}}</B></td>
                    <td>
                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addWaiter2"
                        (click)="getServiceDetail(item.service_id)"><i class="fa fa-pencil"></i></button>
                      <button type="button" style="margin-left:4px" class="btn btn-danger btn-sm"
                        (click)="deleteService(i,item.service_id)"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
                <ng-template #elseBlock>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="100%">{{response}}</td>
                    </tr>
                  </tbody>
                </ng-template>
              </table>
            </div>
          </div>
  
  
        </div>
      </div>


  <div id="addWaiter" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" #closeAddModal>
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="padding:2%">
        <form id="subform3" role="form" #subForm3="ngForm">
          <div class="row">
            <div class="col-12">
              <h5>Add a Service Type</h5>
            </div>
            <div class="col-sm-12">
              <div class="form-group position-relative">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Select Service Type</label>
                    </div>
                    <select class="custom-select" placeholder="Choose Service Type" id="inputGroupSelect01" [(ngModel)]="selectedServiceType" name="ig"  required>
                      <ng-container *ngFor="let item of ServiceTypeList">
                          <option [ngValue]="item.service_type_id">{{item.name}}</option>
                      </ng-container>                                  
                    </select>
                  </div>
                </div>
          </div>

            <div class="col-sm-12">
              <div class=" form-group position-relative">
                <input type="text" class="form-control mb-4" placeholder="Service Name" name="Cname" [(ngModel)]="serviceName"
                  required />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group position-relative">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Mostly Used</label>
                    </div>
                    <select class="custom-select" placeholder="Choose Status" id="inputGroupSelect01" [(ngModel)]="used" name="vsd"  required>
  
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                     
                    </select>
                  </div>
                </div>
          </div>

          </div>
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <button type="button" class="btn btn-success" [disabled]="!subForm3.valid"
                (click)="addService()">SUBMIT</button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  
  <div id="addWaiter2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" #closeEditModal3>
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="padding:2%">
        <form id="subform4" role="form" #subForm4="ngForm" *ngIf="detail">
          <div class="row">
            <div class="col-12">
              <h5>Edit Service Detail</h5>
            </div>
            <div class="col-sm-12">
              <div class="form-group position-relative">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Select Service</label>
                    </div>
                    <select class="custom-select" placeholder="Choose Service Type" id="inputGroupSelect01" [(ngModel)]="detail.service_type_id" name="ig"  required>
                      <ng-container *ngFor="let item of ServiceTypeList">
                          <option [ngValue]="item.service_type_id">{{item.name}}</option>
                      </ng-container>                                  
                    </select>
                  </div>
                </div>
          </div>
            <div class="col-sm-12">
              <div class=" form-group position-relative">
                <input type="text" class="form-control mb-4" placeholder="Service Type Name" name="fname1"
                  [(ngModel)]="detail.name" required />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group position-relative">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Mostly Used</label>
                    </div>
                    <select class="custom-select" placeholder="Choose Status" id="inputGroupSelect01" [(ngModel)]="detail.mostly_used" name="vsd"  required>
  
                          <option value="yes" [selected]="detail.mostly_used === 'yes'">Yes</option>
                          <option value="no"  [selected]="detail.mostly_used === 'no'">No</option>
                     
                    </select>
                  </div>
                </div>
          </div>

          </div>
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <button type="button" class="btn btn-success" [disabled]="!subForm4.valid"
                (click)="editService(detail.service_id)">EDIT</button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>