<div class="card text-center">
    <div class="card-header">
       <ng-container *ngIf="!isError">
           {{msg}}
        </ng-container>
        <ng-container *ngIf="isError">
            <span style="color:red">
             {{errMsg}}
            </span>
        </ng-container> 

    </div>
    <div class="card-body">
        <form id="subform2" role="form" #subForm2="ngForm">
      <div class="row">
            <div class="offset-md-4 col-sm-12 col-md-4">
                <div class=" form-group position-relative">
                  <input type="password" class="form-control mb-4" placeholder="Old Password" name="p1"
                    [(ngModel)]="old_password" autocomplete="new-password" required />
                </div>
              </div>
              <div class="offset-md-4 col-sm-12 col-md-4">
                <div class=" form-group position-relative">
                  <input type="password" class="form-control mb-4" placeholder="New Password" name="p2"
                    [(ngModel)]="new_password" autocomplete="new-password" required />
                </div>
              </div>
              <div class="offset-md-4 col-sm-12 col-md-4">
                <div class=" form-group position-relative">
                  <input type="password" class="form-control mb-4" placeholder="Confirm New Password" name="p3"
                    [(ngModel)]="confirm_password" autocomplete="new-password" required />
                </div>
              </div>
                <div class="col-12" style="text-align: center;">
                  <button type="button" class="btn btn-success" [disabled]="!subForm2.valid"
                    (click)="changePassword()">SUBMIT</button>
                </div>

            </div>
        </form>
    </div>
  </div>